:root {
  --background: #101010;
  --dark: #000;
  --foreground: #e6e6e6;
  --red: #ff0011;
  --paragraph: #cccccc;
  --image: #1a1a1a;
  --icons: #808080;
}

@font-face {
  font-family: "Futura Book";
  src: url("./assets/fonts/Futura\ Book.ttf");
}

@font-face {
  font-family: "Futura Bold";
  src: url("./assets/fonts/Futura\ Bold.ttf");
}

body {
  background: var(--background);
}

* {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
